#casesection{
    background-color: rgb(222, 231, 231);
    height: 800px;
}

.case .case1, .case .case2{
    margin-top: 100px;
}

.case .case2 div{
    padding: 30px;
    background-color: white;
    height: 350px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 2px 2px 7px rgb(179, 177, 177), -2px -2px 7px rgb(194, 191, 191);
}

.case .case2 .caseform input{
    margin-bottom: 10px;
    border-radius: 7px;
    height: 50px;
    border:  1px solid rgb(180, 178, 178);
}

.case .case2 .caseform .btn-primary{
    height: 50px;
    width: 335px;
    border-radius: 7px;
    margin-bottom: 10px;
}

.case .case2 .caseform .btn-success{
    height: 50px;
    width: 200px;
}

.case .case1 h1{
    font-weight: 700;
    color: blue;
}

.case .case1 h3{
    font-weight: 400;
}
.casa a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}


